
/* document elements */
html,
body {
    font-family: Helvetica, 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', Arial, sans-serif;
    overflow-x:hidden;
}

body.zh{
    letter-spacing:1.8px;
}

/*
 * Globals
 */

h1, .h1
{
    font-family: "Yu Gothic", SimHei, helvetica, sans-serif;
    color:#293a4f;
}

h2, .h2
{
    color:#293a4f;
}

h4, .h4
{
    color:#393a4f;
}

h5, .h5
{
    color: #293a4f;
}

h6, .h6{
    color: #999;
}

blockquote {
    border-left: 3px solid #293a4f;
    padding-left: 3px;
    color: #666;
    margin: 1rem 0;
}
a {
    cursor:pointer;
}
.small{
    font-family: 'Hiragino Sans GB', helvetica,SimHei, sans-serif;

}
.error{
    color: #d77459;
    font-size: 12px;
    visibility: hidden;
}
#rightBar input{
    height: 40px;
}

#topNav{
    padding: 0;
    margin-top: -1px;
    color:#333;
    font-size:14px;
}

#topNav li{
    border-bottom: 1px solid #ccc;
    text-align:center;
    background: #fff;
}
#topNav li a{
    height: 40px;
}
#topNav li a:hover{
    background: #293a4f;
    color: #fff;
}

#leftBar li{
    height: 40px;
    width:108px;
    border-right: 1px solid #ccc;
}

#rightBar ul{
    border-left:1px solid #ccc;
}

#rightBar  li{
    width:  48px;
    border-right: 1px solid #ccc;
}

#rightBar .input-group-prepend button{
    background: #fff;
    border-bottom: 1px solid  #ccc;
    margin-right: 1px;
}
#rightBar .angucomplete-holder input{
    color: #495057;
    background-color: #fff;
    border-bottom: 1px solid  #ccc;
    border-top:0;
    border-left:0;
    border-right:0;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    outline: none;
    transition: border-color 1s ease-in-out, box-shadow 1s ease-in-out;
    width:150px;
}

#rightBar .angucomplete-holder input:focus{
    font-size: small;
    border: 1px solid #293a4f;
}


#rightBar  img{
    height:24px;
}
.btn-white{
    background: transparent;
    color: #293a4f;
}
.btn-white:hover,
.btn-white:focus {
    background: #293a4f;
    color:#fff;
}
.list-group-item.active a{
    color: #fff;
}
#langBar .dropdown-toggle:hover{
    color: #fff;
    background: #293a4f;
}
#langBar .dropdown.show .dropdown-toggle a{
    color: #fff;
    background: #293a4f;
}
#langBar .dropdown-menu{
    min-width: 0;
    padding: 0;
    text-align:center;
}

label{
    color:#293a4f;
    font-family: "Yu Gothic";
}
/*
 * Override Bootstrap's default container.
 */
.nav-film{
    border-bottom: #293a4f 3px solid;
}

.nav-film .nav-item .nav-link{
    border: 0;
    margin: 0;
}
.nav-film .nav-item .nav-link.active{
    background:#293a4f;
    color: #fff;
}

.nav-danger{
    color:  #d77459;
}
.nav-danger:hover,
.nav-danger:active,
.nav-danger.active
{
    background:  #d77459;
    color: #fff;
}

@media (min-width: 992px) and (max-width: 1199px) {
    .fixed-right {
        position: fixed;
        top: 0;
        right:calc((100% - 1000px)/4);
        width: 60px;
    }

    .modal-lg {
        width: 900px;
    }
}

@media (min-width: 1200px) and (max-width: 1399px) {
    .container {
        max-width: 1100px;
    }
    .fixed-right{
        position: fixed;
        top: 0;
        width: 60px;
        right:calc((100% - 1200px)/4);
    }
}
@media (min-width: 1400px){
    .container {
        width: 1272px;
    }

    .fixed-right{
        position: fixed;
        top: 0;
        width: 60px;
        right:calc((100% - 1311px)/4);
    }
}


@media (max-width: 991px) {
    #topNav{
        font-size:12px;
    }

    #leftBar li{
        height: 30px;
        width:80px;
    }

    #rightBar ul{
        border-left:1px solid #ccc;
    }

    #rightBar  li{
        height: 30px;
        width: 36px;
    }

    #rightBar .input-group{
        height: 30px;
        width: 132px;
    }

    #rightBar input{
        height: 30px;
    }

    .navbar-brand{
        height: 30px;
    }
}

.btn-sq {
    width: 100%;
    overflow: hidden;
}
.btn-sq:after {
    content: '';
    display: block;
    margin-top: 100%; /* margin 百分比相对父元素宽度计算 */
}

.btn-md, .btn-group-md > .btn {
    padding: 0.1rem 1rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0;
}


.checkbox-primary input[type="checkbox"]{
    position: relative;
    display: inline-block;
}

.checkbox-primary input[type="checkbox"]:after{
    content: '';
    background-color: #fafafa;
    border: 1px solid #cacece;
    position: absolute;
    top:0;
    left:0;
    width: 14px;
    height: 14px;

}

.checkbox-primary input[type="checkbox"]:checked:after{
    background:#293a4f;
}

.checkbox-primary .label,
.checkbox-primary label{
    display: inline-block;
    padding-left: 3px;
    word-wrap: unset;
}

.graphic {
    position: absolute;
    top: 0;
    left: 0;
    fill: none;
}

.icon {
    color: #ddd;
    font-size: 150%;
}

.closer{
    width: 30px;
    height: 30px;
    margin-top: -30px;
    margin-left: -15px;
    text-align: center;
    cursor: pointer;
}
.abridge{
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    height: 5.4em;
    line-height: 1.8em;
    word-wrap: break-word;
    cursor: pointer;
}

.abridge:hover{
    color:#293a4f;
}

.label-justified{
     clear:both;
     word-spacing:-1em;/*调整文本，以防止使用两端对齐之后字间距过大*/
     text-align:justify;
     text-justify:distribute-all-lines;/*ie6-8*/
     text-align-last:justify;/* ie9*/
     -moz-text-align-last:justify;/*ff*/
     -webkit-text-align-last:justify;/*chrome 20+*/
     width: 100%;
 }

.required:before{
    content: '*';
    color: #d77459;
    position: absolute;
    left:0;
}

.input {
    position: relative;
    z-index: 1;
    display: inline-block;
    width: calc(100% - 2em);
    vertical-align: top;
}

.input .input-group-btn{
    position: absolute;
    right:0;
    top:-0.8em;
    z-index: 100;
}
.input__field {
    position: relative;
    display: block;
    float: right;
    padding: 0 0.8em;
    border-radius: 0;
    color:#6a7989;

}

input.input__field{
    -webkit-appearance: none; /* for box shadows to show on iOS */
}
input.input__field,
select.input__field{
    border: none;

}

textarea.input__field{
    border-bottom: none;
}

.input__field:focus {
    outline: none;
}


.input__label {
    display: inline-block;
    float: right;
    padding: 0 1em;
    color: #293a4f;
    font-weight: bold;
    font-size: 70.25%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.input__label-content {
    position: relative;
    display: block;
    padding: 1.6em 0;
    width: 100%;
}

/* Isao */
.input__field--isao {
    z-index: 10;
    width: 100%;
    background: transparent;
}

.input__label--isao {
    position: relative;
    overflow: hidden;
    padding: 0;
    width: 100%;
    text-align: left;
}

.input__label--isao::before {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 3px;
    background: #999;
    -webkit-transform: scale3d(1, 0.4, 1);
    transform: scale3d(1, 0.4, 1);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transition: -webkit-transform 0.3s, background-color 0.3s;
    transition: transform 0.3s, background-color 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.input__label--isao::after {
    content: attr(data-content);
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.5em 0.15em;
    color: #0c5460;
    opacity: 0;
    -webkit-transform: translate3d(0, 50%, 0);
    transform: translate3d(0, 50%, 0);
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    pointer-events: none;
}

.input__label--isao.isao_error::after {
    content: attr(data-error);
    color: #d77459;
}

.input__field--isao:focus{
    font-weight: bold;
    color:#293a4f;
}

textarea.input__field-isao:focus,
textarea.input__field:disabled,
textarea.input__field[readonly]{
    border:  none;
}


select.input__field:disabled,
select.input__field[readonly]{
    appearance:none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.input__field--isao:focus + .input__label--isao::before {
    background-color:  #0c5460;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}

.input__field:disabled + .input__label--isao::before,
.input__field[readonly] + .input__label--isao::before {
    background-color: #e9ecef;
}

.input__field:disabled + .input__label--isao,
.input__field[readonly] + .input__label--isao {
    color: #797979;
}

.input__field--isao:focus + .input__label--isao.isao_error::before {
    background-color:  #d77459;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}

.input__field--isao:focus + .input__label--isao {
    pointer-events: none;
}

.input__field--isao:focus + .input__label--isao::after {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.input__label-content--isao {
    padding: 0.5em 0.15em;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.input__field--isao:focus + .input__label--isao .input__label-content--isao {
    opacity: 0;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
}
/* checkbox
input[type="checkbox"] {
    visibility:hidden;
}
input[type="checkbox"] + label{
    margin-bottom: 0;
}
input[type="checkbox"] + label.before-div{
    margin-top: 4px;
}

input[type="checkbox"] + label span{
    background-color: #fafafa;
    border: 1px solid #cacece;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0 -15px 10px -12px rgba(0,0,0,0.05);
    padding: 5px;
    display: inline-block;
    position: relative;
    top:1px;
}

input[type="checkbox"]:checked + label:active span,
input[type="checkbox"]:checked + label:active span {
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0 1px 3px rgba(0,0,0,0.1);
}

input[type="checkbox"]:checked + label span {
    background:#293a4f;
}

input[type="checkbox"]:checked + label:after span{
    content: '\2714';
    font-size: 14px;
    position: absolute;
    top: 0;
    left: 3px;
    color: #99a1a7;
}

input[type="checkbox"] + label+span{
    color: #999;
}

input[type="checkbox"]:checked + label+span{
    color: #293a4f;
    text-indent: 15px;
}
*/

.form-control{
    color: #495057;
    background-color: #fff;
    border-color: #fff;
    border-bottom: 1px solid  #ccc;
}

.form-control:focus {
    border-color: #fff;
    border-bottom: 1px solid #293a4f;
    transition: border-color 1s ease-in-out, box-shadow 1s ease-in-out;
}

.dropdown.show{
    background:  #293a4f;
}

.dropdown.show .dropdown-toggle:after{
    color: #fff;
}

.dropdown.show .dropdown-toggle span{
    color:#d77459;
}

.dropdown-menu{
    padding-top: 0;
    padding-bottom: 0;
}

.dropdown-item {
    line-height: 2rem;
}

footer .btn-link{
    color: #e5e5e5;
}

footer a{
    color: #e5e5e5;
}

@media (min-width: 1200px) {
    #leftBar{
        border-left:1px solid #ccc;
    }

    .navbar-brand{
        position: absolute;
        left:calc(50% - 115px);
    }

}


@media (max-height: 640px) {
/*    body {
        line-height: 1.8em;
        font-size: 10px;
    }

    input.form-text{
        font-size: 10px;
        height: 18px;
        line-height: inherit;
    }

    div{
        font-size: 10px;
    }

    .label{
        font-size: 10px;
    }

    .form-group{
        margin-bottom: 10px;
    }*/

    .content{
        min-height: 480px;
    }
}
/*
@media (max-height: 732px) {
    .error{
        height: 1.5em;
        line-height: 1.5em;
    }
}*/

@media (min-height: 641px) and (max-height: 732px) {
   /* body {
        line-height: 2em;
        font-size: 11px;
    }

    input.form-text{
        font-size: 11px;
        height: 20px;
        line-height: inherit;
    }

    div{
        font-size: 11px;
    }

    .label{
        font-size: 11px;
    }

    .form-group{
        margin-bottom: 24px;
    }*/

    .content{
        min-height: 640px;
    }
}

@media (min-height: 733px) and (max-height: 960px) {
 /*   body {
        line-height: 2.1em;
        font-size: 12px;
    }

    input.form-text{
        font-size: 12px;
        height: 20px;
        line-height: inherit;
    }

    div{
        font-size: 12px;
    }

    .label{
        font-size: 12px;
    }

    .form-group{
        margin-bottom: 24px;
    }*/

    .content{
        min-height: 732px;
    }
}

@media (min-height: 961px) and (max-height: 1200px) {
    .content{
        min-height: 960px;
    }
}

@media (min-height: 1201px) and (max-height: 1600px) {
    .content{
        min-height: 1200px;
    }
}

@media (min-height: 1600px){
    body {
        line-height: 2.3em;
    }

    .content{
        min-height: 1600px;
    }
}