
.footer-info{
    padding-bottom: 10px;
    padding-top: 10px;
}

.footer-info>div{
    display: inline-block;
}

.footer-info>div:not(last-child){
    padding-right: 24px;
}

.footer-info>div:not(first-child){
    padding-left: 24px;
}

.footer-info .mine{
    color: #D77459;
}

.footer-info .mine:hover{
    color: #999;
}

.footer-info .fa{
    cursor: pointer;
}

.footer-info .fa:not(.mine):hover{
    color: #D77459;
    font-weight: bolder;
}