label{
    display: inline-block;
    text-align: justify;
    position: relative;
}

label:before{
    content: ' ';
    position: absolute;
    left:0;
    width:20px;
    text-wrap: none;
}

label.require:before{
    content: '*';
    color:rgb(215,116,89);
}

label:after {
    content: "";
    display: inline-block;
    width: 100%;
}
.nav-top-menu{
    border-top: 1px #ccc solid;border-left: 1px #ccc solid;
}

.nav-top-menu li{
    border-top:0;
    border-right: 1px #ccc solid;
}

.nav-top-menu li.active{
    border: 0;
}

.nav-top-menu li.active a{
    background: #293a4f;
    color: #fff;
}
